<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Chat-CVE</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/log.css" rel="stylesheet">
</head>
<body>
  <div class="chat-container">
    {% for i in range(global_index) %}
      <div class="chat-messages" id="chat-messages">
        <p><strong>LEVEL: {{ i }}</strong></p>
        <p><strong>問題:</strong> <textarea id="markdown" rows="10" cols="50"> {{ global_questions[i].source_code }}</textarea> </p>
        <hr>
      </div>
    <div class="submitted-messege"><!--ここのhtmlは使いまわすので-->
      <p><strong>あなたの回答:</strong></p>
        <p>WHERE: {{ user_answers[i].where }}</p>
        <p>WHY: {{ user_answers[i].why }}</p>
        <hr>
    </div>
    <div class="answer">
      <p><strong>模範解答:</strong> {{ global_questions[i].answer }}</p>
      <p><strong>解説:</strong> {{ global_questions[i].explanation }}</p>
    </div>
      {% endfor %}
  </div>
  <div class="input-area">
    <div class-"button-area">
      </form>
     <button type="submit" class="btn btn-primary mb-3">ホーム画面に戻る</button>
    </div>
      </form>
  </div>
</body>
</html>
</body>
</html>